<div class="d-flex justify-content-between align-items-end">
  <div>
    <h1 class="fw-bold">BPSets (<%= bpLength %>)</h1>
    <p>Created by Minhyeok Park</p>
  </div>

  <div class="d-flex">
    <div>
      <p>Pass</p>
      <p><%=  %></p>
    </div>
    <div>
      <p>Fail</p>
    </div>
    <div>
      <p>Error</p>
    </div>
  </div>

  <div class="btn-group">
    <a href="/check_all" type="button" class="btn btn-primary">Check All</a>
  </div>
</div>
